body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  padding: 20px 0;
}

.navbar {
  background-color: darkblue;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}