body {
  font-family: "Roboto", sans-serif;
}

.featurette-image {
  object-fit: cover;
  object-position: 100% 0;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

#longPhoto{
  
  width: 400px; /* width of container */
  height: 400px; /* height of container */
  
}

.navbar {
  background-color: darkblue;
  color:white;
}

.site-footer{
  background-color: darkblue;
  color:white;
  padding: 20px 0;
}